
<div class="card mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div class="card-header card-header-stretch pb-0 panelBgColor">
    <!--begin::Title-->
    <div class="card-title">
      <h3 class="m-0">Add Employee / Subscriber</h3>
    </div>
    <h3 class="card-title align-items-start flex-column">
      <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-warning">Cancel</button>
          <button type="button" class="btn btn-light-dark" routerLink="/employee/view-employee" routerLinkActive="active" >Back</button>
        </div>
        
  </h3>
    <!--end::Title-->

  </div>
  <!--end::Card header-->
  <!--begin::Tab content-->
  <div id="kt_billing_payment_tab_content" class="card-body tab-content">
    <!--begin::Tab panel-->
    <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
      <!--begin::Title-->
      <!-- <h3 class="mb-5">Personal Information</h3> -->
      <!--end::Title-->
      <!--begin::Row-->
      <div class="row gx-9 gy-6">
        <form [formGroup]='employeeForm' (ngSubmit)="registerEmployee()" autocomplete="off">
          <div class="row mb-6">
            <div class="col-lg-6 fv-row">
              <app-text-input [formControl]='employeeForm.controls["employeeName"]' [label]='"Employee Name English"'>
              </app-text-input>
            </div>
            <div class="col-lg-6 fv-row">
              <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Arabic</span></label>
              <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly name="nameInArabic" />
            </div>
          </div>
          <div class="row mb-6">
            <div class="col-lg-4 fv-row">
              <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Date of Birth</span></label>
              <input type="date" class="form-control form-control-lg  mb-3 mb-lg-0" />
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6"><span class="">Gender</span></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6"><span class="">Marital Status</span></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>

          </div>

          <div class="row mb-6">
            <div class="col-lg-4 fv-row">
              <app-text-input [formControl]='employeeForm.controls["employeeMobile"]' [label]='"Mobile"'>
              </app-text-input>
            </div>
            <div class="col-lg-4 fv-row">
              <app-text-input [formControl]='employeeForm.controls["landLine"]' [label]='"Landline"'></app-text-input>
            </div>
            <div class="col-lg-4 fv-row">
              <app-text-input [formControl]='employeeForm.controls["email"]' [label]='"Email"'></app-text-input>
            </div>
          </div>
          <div class="row mb-6">
            <div class="col-lg-6 fv-row">
              <app-text-input [formControl]='employeeForm.controls["kinName"]' [label]='"Kin Name"'></app-text-input>
            </div>
            <div class="col-lg-6 fv-row">
              <app-text-input [formControl]='employeeForm.controls["kinMobile"]' [label]='"Kin Mobile"'>
              </app-text-input>
            </div>
          </div>
        </form>
      </div>
      <!--end::Row-->
    </div>

  </div>
  <!--end::Tab content-->
</div>

<div class="card mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div class="card-header card-header-stretch pb-0 panelBgColor">
    <!--begin::Title-->
    <div class="card-title">
      <h3 class="m-0">Job Details</h3>
    </div>
    <!--end::Title-->

  </div>
  <!--end::Card header-->
  <!--begin::Tab content-->
  <div id="kt_billing_payment_tab_content" class="card-body tab-content">
    <!--begin::Tab panel-->
    <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
      <!--begin::Title-->
      
      <!--end::Title-->
      <!--begin::Row-->
      <div class="row gx-9 gy-6">
        <form [formGroup]='employeeForm' (ngSubmit)="registerEmployee()" autocomplete="off">
          <div class="row mb-6">            
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6"><span class="">Department</span></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6"><span class="">Occupation</span></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <app-text-input [formControl]='employeeForm.controls["monthlySalary"]' [label]='"Monthly Salary"'>
              </app-text-input>
            </div>
          </div>
          <div class="row mb-6">
            <div class="col-lg-4 fv-row">
              <app-text-input [formControl]='employeeForm.controls["civilId"]' [label]='"Civil ID"'></app-text-input>
            </div>
            <div class="col-lg-4 fv-row">
              <app-text-input [formControl]='employeeForm.controls["paci"]' [label]='"PACI"'></app-text-input>
            </div>
            <div class="col-lg-4 fv-row">
              <app-text-input [formControl]='employeeForm.controls["otherId"]' [label]='"Other ID"'></app-text-input>
            </div>
          </div>
        </form>
      </div>
      <!--end::Row-->
    </div>

  </div>
  <!--end::Tab content-->
</div>
<div class="card mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div class="card-header card-header-stretch pb-0 panelBgColor">
    <!--begin::Title-->
    <div class="card-title">
      <h3 class="m-0">Membership Details</h3>
    </div>
    <!--end::Title-->
  </div>
  <!--end::Card header-->
  <!--begin::Tab content-->
  <div id="kt_billing_payment_tab_content" class="card-body tab-content">
    <!--begin::Tab panel-->
    <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
      <!--begin::Title-->

      <!--end::Title-->
      <!--begin::Row-->
      <div class="row gx-9 gy-6">
        <form [formGroup]='employeeForm' (ngSubmit)="registerEmployee()" autocomplete="off">
          <div class="row mb-6">
            <div class="col-lg-6 fv-row">
              <app-text-input [formControl]='employeeForm.controls["membership"]' [label]='"Membership"'>
              </app-text-input>
            </div>
            <div class="col-lg-6 fv-row">
              <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Membership Joining Date</span></label>
              <input type="date" class="form-control form-control-lg  mb-3 mb-lg-0" name="membershipJoiningDate" />
            </div>
          </div>
          <div class="row mb-6">
            <div class="col-lg-6 fv-row">
              <app-text-input [formControl]='employeeForm.controls["termination"]' [label]='"Termination"'>
              </app-text-input>
            </div>
            <div class="col-lg-6 fv-row">
              <app-text-input [formControl]='employeeForm.controls["terminationDate"]' [label]='"Termination Date"' type="date">
              </app-text-input>
            </div>
          </div>
        </form>
      </div>
      <!--end::Row-->
    </div>

  </div>
  <!--end::Tab content-->
</div>

<div class="card mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div class="card-header card-header-stretch pb-0 panelBgColor">
    <!--begin::Title-->
    <div class="card-title">
      <h3 class="m-0">Financial Details</h3>
    </div>
    <!--end::Title-->
  </div>
  <!--end::Card header-->
  <!--begin::Tab content-->
  <div id="kt_billing_payment_tab_content" class="card-body tab-content">
    <!--begin::Tab panel-->
    <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
      <!--begin::Title-->
      <!-- <h3 class="mb-5">Job Information</h3> -->
      <!--end::Title-->
      <!--begin::Row-->
      <div class="row gx-9 gy-6">
        <form [formGroup]='employeeForm' (ngSubmit)="registerEmployee()" autocomplete="off">
          <div class="row mb-6">
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6"><span class="">Loan Account</span></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6"><span class="">Hajj Account</span></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6"><span class="">Per Load Act</span></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
          </div>
          <div class="row mb-6">
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6"><span class="">Consumer Loan </span></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6"><span class="">Other Act # 1</span></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6"><span class="">Other Act # 2</span></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
          </div>
          <div class="row mb-6">
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6"><span class="">Other Act # 3 </span></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6"><span class="">Other Act # 4</span></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>

          </div>
        </form>
      </div>
      <!--end::Row-->
    </div>

  </div>
  <div class="card-footer d-flex justify-content-end py-6 px-9 ">
    <div class="d-flex">
      <a href="#" class="btn btn-primary me-3">Save</a>
      <a href="#" class="btn btn-warning  me-3">Cancel</a>
      <a href="#" class="btn btn-light" routerLink="/employee/view-employee">Back</a>
  </div>
  </div>
  <!--end::Tab content-->
</div>