<input type="hidden" #AddEmployee name="AddEmployee" value="AddEmployee">

<div class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 mb-3">
  <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
      <div class="row">
          <div class="btn-group " role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary float-left ArFontStyle"  lang="AR-SA" *ngFor="let item of formBodyLabels | filterLabels:'btnSave'">{{item.title}}</button>
              <button type="button" class="btn btn-warning float-left ArFontStyle" lang="AR-SA" *ngFor="let item of formBodyLabels | filterLabels:'btnCancel'">{{item.title}}</button>
              <button type="button" class="btn btn-danger float-left ArFontStyle" routerLink="/employee/view-employee" routerLinkActive="active" lang="AR-SA" *ngFor="let item of formBodyLabels | filterLabels:'btnBack'">{{item.title}}</button>
          </div>
      </div>
  </div>
</div>
<!-- TO GET FORM ID AND SETTINGUP LANGAUGE. -->

<div class="card mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div class="card-header card-header-stretch pb-0 panelBgColor">
    <!--begin::Title-->
    <div class="card-title">
      <h3 class="m-0 ArFontStyle" lang="AR-SA" *ngFor="let label of formHeaderLabels$ | async; let i = index">{{label.headerName}}</h3>
    </div>
  
    <!--end::Title-->

  </div>
  <!--end::Card header-->
  <!--begin::Tab content-->
  <div id="kt_billing_payment_tab_content" class="card-body tab-content">
    <!--begin::Tab panel-->
    <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
      <!--begin::Title-->
      <!-- <h3 class="mb-5">Personal Information</h3> -->
      <!--end::Title-->
      <!--begin::Row-->
      <div class="row gx-9 gy-6">
        <form autocomplete="off">
          <div class="row mb-6">
            <div class="col-lg-6 fv-row">             
              <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA" *ngFor="let item of formBodyLabels | filterLabels:'lblEmployeeName'">{{item.title}}</label>              
              <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly name="nameInArabic" />
            </div>
            <div class="col-lg-6 fv-row">
              <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA" *ngFor="let item of formBodyLabels | filterLabels:'lblArabicName'">{{item.title}}</label>
              <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly name="nameInArabic" />
            </div>
          </div>
          <div class="row mb-6">
            <div class="col-lg-4 fv-row">
              <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA" *ngFor="let item of formBodyLabels | filterLabels:'lblDateOfBirth'">{{item.title}}</label>
              <input type="date" class="form-control form-control-lg  mb-3 mb-lg-0" />
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA" *ngFor="let item of formBodyLabels | filterLabels:'lblGender'">{{item.title}}</label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA" *ngFor="let item of formBodyLabels | filterLabels:'lblMaritalStatus'">{{item.title}}</label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
          </div>

          <div class="row mb-6">
            <div class="col-lg-4 fv-row">
              <label class="col-lg-6 col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA" *ngFor="let item of formBodyLabels | filterLabels:'lblEmail'">{{item.title}}</label>
              <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly name="nameInArabic" />
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA" *ngFor="let item of formBodyLabels | filterLabels:'lblLandline'">{{item.title}}</label>
              <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly name="nameInArabic" />
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA" *ngFor="let item of formBodyLabels | filterLabels:'lblEmail'">{{item.title}}</label>
              <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly name="nameInArabic" />
            </div>
          </div>
          <div class="row mb-6">
            <div class="col-lg-6 fv-row">
              <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA" *ngFor="let item of formBodyLabels | filterLabels:'lblArabicName'">{{item.title}}</label>
              <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly name="nameInArabic" />
            </div>
            <div class="col-lg-6 fv-row">
              <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA" *ngFor="let item of formBodyLabels | filterLabels:'lblNextOfTheKinName'">{{item.title}}</label>
              <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly name="nameInArabic" />
            </div>
          </div>
        </form>
      </div>
      <!--end::Row-->
    </div>

  </div>
  <!--end::Tab content-->
</div>

<div class="card mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div class="card-header card-header-stretch pb-0 panelBgColor">
    <!--begin::Title-->
    <div class="card-title">
      <h3 class="m-0 ArFontStyle"  lang="AR-SA"></h3>
    </div>
    <!--end::Title-->

  </div>
  <!--end::Card header-->
  <!--begin::Tab content-->
  <div id="kt_billing_payment_tab_content" class="card-body tab-content">
    <!--begin::Tab panel-->
    <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
      <!--begin::Title-->
      
      <!--end::Title-->
      <!--begin::Row-->
      <div class="row gx-9 gy-6">
        <form autocomplete="off">
          <div class="row mb-6">            
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">             
              <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"></label>
              <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly name="nameInArabic" />
            </div>
          </div>
          <div class="row mb-6">
            <div class="col-lg-4 fv-row">
              <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"></label>
              <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly name="nameInArabic" />
            </div>
            <div class="col-lg-4 fv-row">              
              <label class="col-lg-6 col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"></label>
              <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly name="nameInArabic" />
            </div>
            <div class="col-lg-4 fv-row">              
              <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"></label>
              <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly name="nameInArabic" />
            </div>
          </div>
        </form>
      </div>
      <!--end::Row-->
    </div>

  </div>
  <!--end::Tab content-->
</div>
<div class="card mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div class="card-header card-header-stretch pb-0 panelBgColor">
    <!--begin::Title-->
    <div class="card-title">
      <h3 class="m-0 ArFontStyle"  lang="AR-SA"></h3>
    </div>
    <!--end::Title-->
  </div>
  <!--end::Card header-->
  <!--begin::Tab content-->
  <div id="kt_billing_payment_tab_content" class="card-body tab-content">
    <!--begin::Tab panel-->
    <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
      <!--begin::Title-->

      <!--end::Title-->
      <!--begin::Row-->
      <div class="row gx-9 gy-6">
        <form autocomplete="off">
          <div class="row mb-6">
            <div class="col-lg-6 fv-row">
              <label class="col-lg-4 col-form-label fw-bold fs-6"></label>
              <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly name="nameInArabic" />
            </div>
            <div class="col-lg-6 fv-row">
              <label class="col-lg-4 col-form-label fw-bold fs-6"></label>
              <input type="date" class="form-control form-control-lg  mb-3 mb-lg-0" name="membershipJoiningDate" />
            </div>
          </div>
          <div class="row mb-6">
            <div class="col-lg-6 fv-row">             
              <label class="col-lg-4 col-form-label fw-bold fs-6"></label>
              <input type="date" class="form-control form-control-lg  mb-3 mb-lg-0" name="membershipJoiningDate" />
            </div>
            <div class="col-lg-6 fv-row">
              <label class="col-lg-4 col-form-label fw-bold fs-6"></label>
              <input type="date" class="form-control form-control-lg  mb-3 mb-lg-0" name="membershipJoiningDate" />
            </div>
          </div>
        </form>
      </div>
      <!--end::Row-->
    </div>

  </div>
  <!--end::Tab content-->
</div>

<div class="card mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div class="card-header card-header-stretch pb-0 panelBgColor">
    <!--begin::Title-->
    <div class="card-title">
      <h3 class="m-0 ArFontStyle"  lang="AR-SA"></h3>
    </div>
    <!--end::Title-->
  </div>
  <!--end::Card header-->
  <!--begin::Tab content-->
  <div id="kt_billing_payment_tab_content" class="card-body tab-content">
    <!--begin::Tab panel-->
    <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
      <!--begin::Title-->
      <!-- <h3 class="mb-5">Job Information</h3> -->
      <!--end::Title-->
      <!--begin::Row-->
      <div class="row gx-9 gy-6">
        <form autocomplete="off">
          <div class="row mb-6">
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
          </div>
          <div class="row mb-6">
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
          </div>
          <div class="row mb-6">
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>
            <div class="col-lg-4 fv-row">
              <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"></label>
              <select class="form-control bg-light" aria-label="Select example">
                <option>-Select-</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
              </select>
            </div>

          </div>
        </form>
      </div>
      <!--end::Row-->
    </div>

  </div>
  
  <!--end::Tab content-->
</div>
