.panelBgColor1{
    background-color: #F9CDAD
}
.panelBgColor2{
    background-color: #C8C8A9 
}
.panelBgColor3{
    background-color: #83AF9B 
}
.card-title-font-color{
    color:#FFFFFF
}
.ArFontStyle{
    font-family:"Tahoma","sans-serif"
}
input:focus {
    background-color: #E9E9E9;
  }