.panelBgColor{
    background-color: #ffa500;
}
.ArFontStyle{
    font-family:"Tahoma","sans-serif";
    color: #000 !important;

}

.shadesOfOrange5{
    background: #ffe4b2;

    &.sdmargin{
        margin-left: 10px;
    }
}

.bg-light-primary-orange-shade3{
    background-color: #ffc04c;
}