<!-- TO GET FORM ID AND SETTINGUP LANGAUGE. -->
<input type="hidden" #AddService name="AddService" value="AddService">
<div class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 mb-3">
    <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
        <div class="row">
            <div class="btn-group " role="group" aria-label="Basic example"
                *ngFor="let bodyLabel of formBodyLabels; let i = index">
                <button type="button" class="btn btn-primary float-left ArFontStyle dark-sea-green" lang="AR-SA"
                    (click)="saveFinancialService()">{{bodyLabel[0].title}}</button>

                <button type="button" class="btn btn-warning float-left ArFontStyle caledon" lang="AR-SA"
                   (click)="openPopUpModal(popupModal)" >{{bodyLabel[1].title}}</button>
                <button type="button" class="btn btn-danger float-left ArFontStyle tea-green" lang="AR-SA"
                    routerLink="/service-setup/service-details">{{bodyLabel[2].title}}</button>
            </div>
        </div>
    </div>
</div>

<!--Parital View For Search [hidden]="!this.common.ifEmployeeExists"-->
<!-- <app-search-tab [parentFormGroup]="parentForm" [pageName]="'AddService'">

</app-search-tab> -->
<ngb-accordion #acc="ngbAccordion" class="mb-2" activeIds="ngb-panel-0">
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <h3 class="m-0 ArFontStyle" lang="AR-SA" id="DocumentAttachments">Search Employee</h3>
        </ng-template>
        <ng-template ngbPanelContent>
            <div id="kt_account_email_preferences" class="collapse show"
            *ngFor="let bodyLabel of formBodyLabels; let i = index">
            <form class="form">
                <div class="card-body px-9 py-9">
                    <div class="row mb-4">
                        <div class="col-lg-6 fv-row"></div>
                        <div class="col-lg-4 fv-row">
                            <select class="form-control form-control-solid" (change)="open(sponsorModal)">
                                <option>-Select-</option>
                                <option>Sponsor 1</option>
                                <option>Sponsor 2</option>
                                <option>Sponsor 3</option>
                                <option>Sponsor 4</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-sm btn-success" lang="AR-SA" (click)="open(sponsorModal)"
                            [ngClass]="{'search_sunglow': pageName === 'AddSubscription', 'search_color_service' :pageName === 'AddService' }" [style]='arabicFont' >{{bodyLabel[0].title}}</button>
                        </div>
                    </div>
                    <div class="notice d-flex search_green_apple rounded border-primary border border-dashed p-6">
                        <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
                            <form [formGroup]="searchForm">
                                <div class="row mb-4">
                                    <div class="col-lg-3 fv-row">
                                        <label class="form-label _title" for="form3Example1 " lang="AR-SA"
                                            [style]='arabicFont'>PF Id</label>
                                        <input type="text" class="form-control" formControlName="pfId" name="pfId" />
                                    </div>
                                    <div class="col-lg-3 fv-row">
                                        <label class="form-label _title" for="form3Example2 " lang="AR-SA"
                                            [style]='arabicFont'>CID</label>
                                        <input type="text" class="form-control" formControlName="cId" name="cId" />
                                    </div>
                                    <div class="col-lg-3 fv-row">
                                        <label class="form-label _title" for="form3Example2 " lang="AR-SA"
                                            [style]='arabicFont'>Employee Id</label>
                                        <input type="text" class="form-control" formControlName="employeeId"
                                            name="employeeId" />
                                    </div>
                                    <div class="col-lg-3 fv-row">
                                        <button type="button" class="btn btn-primary mt-8 fringy_flower" lang="AR-SA"
                                            [style]='arabicFont' (click)="SearchEmployee()">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="separator separator-dashed my-6"></div>
                    <form [formGroup]="employeeForm">
                        <div class="row mb-4">
                            <div class="col-lg-4 fv-row">
                                <input type="hidden" class="form-control" formControlName="employeeId" name="employeeId" />
                                <label class="form-label" for="englishName " lang="AR-SA"
                                    [style]='arabicFont'>English Name</label>
                                <input type="text" class="form-control" formControlName="englishName" name="englishName"
                                    lang="AR-SA" readonly />
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="arabicName " lang="AR-SA" 
                                [style]='arabicFont'>Arabic Name
                                </label>
                                <input type="text" class="form-control" formControlName="arabicName" name="arabicName"
                                    lang="AR-SA" readonly />
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="empGender " lang="AR-SA"
                                    [style]='arabicFont'>Gender</label>
                                <ng-select formControlName="empGender" [disabled]="true">
                                    <ng-option *ngFor="let item of genderArray" [value]="item.id" [disabled]="true">{{item.name}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="row mb-4">                        
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="joinedDate" lang="AR-SA"
                                    [style]='arabicFont'>Joining Date</label>
                                <input type="text" class="form-control" bsDatepicker
                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" formControlName="joinedDate"
                                    name="joinedDate" lang="AR-SA" readonly />
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="mobileNumber " lang="AR-SA"
                                    [style]='arabicFont'>Mobile</label>
                                <input type="text" id="mobileNumber" class="form-control" formControlName="mobileNumber"
                                    name="mobileNumber" lang="AR-SA" readonly />
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="empMaritalStatus " lang="AR-SA"
                                    [style]='arabicFont'>Marital Status</label>
                                <!-- <input type="text" id="empMaritalStatus" class="form-control"
                                    formControlName="empMaritalStatus" name="empMaritalStatus" lang="AR-SA" readonly /> -->
                                    <ng-select formControlName="empMaritalStatus" [disabled]="true">
                                        <ng-option *ngFor="let item of maritalStatusArray" [value]="item.id" [disabled]="true">{{item.name}}</ng-option>
                                    </ng-select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="nationName " lang="AR-SA"
                                    [style]='arabicFont'>Nation</label>
                                <input type="text" id="nationName" class="form-control" formControlName="nationName"
                                    name="nationName" lang="AR-SA" readonly />
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="contractType " lang="AR-SA"
                                    [style]='arabicFont'>Contract Type</label>
                                <input type="text" id="contractType" class="form-control" formControlName="contractType"
                                    name="contractType" lang="AR-SA" readonly />
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="kinName" lang="AR-SA"
                                    [style]='arabicFont'>Kin Name</label>
                                <input type="text" id="kinName" class="form-control"
                                    formControlName="kinName" name="kinName" lang="AR-SA" readonly />
                            </div>                       
                        </div>
                        <div class="row mb-4">                        
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="kinMobile " lang="AR-SA"
                                    [style]='arabicFont'>Kin Mobile</label>
                                <input type="text" id="kinMobile" class="form-control" formControlName="kinMobile"
                                    name="kinMobile" lang="AR-SA" readonly />
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="subscriptionAmount " lang="AR-SA"
                                    [style]='arabicFont'>Subscription Amount</label>
                                <input type="text" id="subscriptionAmount" class="form-control" formControlName="subscriptionAmount"
                                    name="subscriptionAmount" lang="AR-SA" readonly />
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="subscriptionPaid " lang="AR-SA"
                                    [style]='arabicFont'>Subscription Paid</label>
                                <input type="text" id="subscriptionPaid" class="form-control" formControlName="subscriptionPaid"
                                    name="subscriptionPaid" lang="AR-SA" readonly />
                            </div>
                        </div>
                        <div class="row mb-4">                        
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="lastSubscriptionPaid " lang="AR-SA"
                                    [style]='arabicFont'>Last Subscription Paid</label>
                                <input type="number" id="lastSubscriptionPaid" class="form-control" formControlName="lastSubscriptionPaid"
                                    name="lastSubscriptionPaid" lang="AR-SA" readonly />
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="subscriptionDueAmount " lang="AR-SA"
                                    [style]='arabicFont'>Subscription Due Amount</label>
                                <input type="number" id="subscriptionDueAmount" class="form-control" formControlName="subscriptionDueAmount"
                                    name="subscriptionDueAmount" lang="AR-SA" readonly />
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="subscriptionStatus " lang="AR-SA"
                                    [style]='arabicFont'>Subscription Status</label>
                                <input type="text" class="form-control" bsDatepicker
                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" formControlName="subscriptionStatus"
                                    name="subscriptionStatus" lang="AR-SA" readonly />
                            </div>  
                        </div> 
                        <div class="row mb-4">  
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="terminationDate " lang="AR-SA"
                                    [style]='arabicFont'>Termination Date</label>
                                <input type="text" class="form-control" bsDatepicker
                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" formControlName="terminationDate"
                                    name="terminationDate" lang="AR-SA" readonly />
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="endDate " lang="AR-SA"
                                    [style]='arabicFont'>End Date</label>
                                <input type="text" class="form-control" bsDatepicker
                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" formControlName="endDate"
                                    name="endDate" lang="AR-SA" readonly />
                            </div>                      
                            <div class="col-lg-4 fv-row">
                                <label class="form-label" for="employeeStatus " lang="AR-SA"
                                    [style]='arabicFont'>Employee Status</label>
                                <input type="number" id="employeeStatus" class="form-control" formControlName="employeeStatus"
                                    name="employeeStatus" lang="AR-SA" readonly />
                            </div>
                        </div> 
                    </form>
                </div>
            </form>
        </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
<br/>
<div >
    <!--Service Information-->
    <div class="card mb-5 mb-xl-10">
        <!--begin::Card header-->
        <div class="card-header card-header-stretch pb-0 panel1bgColor">
            <!--begin::Title-->
            <div class="card-title" *ngFor="let label of formHeaderLabels; let i = index">
                <h3 class="m-0 ArFontStyle" lang="AR-SA" id="MembershipTransactions">{{label.headerName}}</h3>
            </div>
            <div class="card-title">
                <h3 class="m-0 text-danger ArFontStyle" lang="AR-SA">Service Status</h3>
            </div>
            <!--end::Title-->
        </div>
        <!--end::Card header-->
        <!--begin::Tab content-->

        <div id="kt_billing_payment_tab_content" class="card-body tab-content"
            *ngFor="let bodyLabel of formBodyLabels; let i = index">
            <!--begin::Tab panel-->
            <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
                <!--begin::Title-->
                <!-- <h3 class="mb-5">Job Information</h3> -->
                <!--end::Title-->
                <!--begin::Row-->
                <div class="row gx-9 gy-6">
                    <form autocomplete="off" [formGroup]="addServiceForm">
                        <div class="row mb-6">
                            <div class="col-lg-4 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                    lang="AR-SA">{{bodyLabel[3].title}}</label>
                                <ng-select [items]="selectServiceType" bindLabel="shortname"
                                    formControlName="serviceType" bindValue="refId" lang="AR-SA"
                                    (change)="onServiceTypeChange($event)" [(ngModel)]="selected"> 
                                </ng-select>
                                <span class="text-danger"
                                    *ngIf="isFormSubmitted && addServiceFrm.serviceType.errors?.required">
                                    Service Type is required
                                </span>
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                    lang="AR-SA">{{bodyLabel[4].title}}</label>
                                <ng-select [items]="selectServiceSubType" bindLabel="shortname"
                                    formControlName="serviceSubType" bindValue="refId" lang="AR-SA"
                                    (change)="onServiceSubTypeChange($event)">
                                </ng-select>
                                <span class="text-danger"
                                    *ngIf="isFormSubmitted && addServiceFrm.serviceSubType.errors?.required">
                                    Service Sub Type is required
                                </span>
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                    lang="AR-SA">{{bodyLabel[5].title}}</label>
                                <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly
                                    formControlName="searialNo" />
                            </div>
                        </div>
                        <div class="row mb-6">
                            <div class="col-lg-4 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                    lang="AR-SA">{{bodyLabel[6].title}}</label>
                                <input type="number" class="form-control form-control-lg  mb-3 mb-lg-0"
                                    (keyup)="calculateInstallments()" formControlName="totamt" />
                                <span class="text-danger"
                                    *ngIf="isFormSubmitted && addServiceFrm.totamt.errors?.required">
                                    Amount is required
                                </span>
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                    lang="AR-SA">{{bodyLabel[7].title}}</label>
                                <input type="number" class="form-control form-control-lg  mb-3 mb-lg-0"
                                    formControlName="totinstallments" />
                                <span class="text-danger"
                                    *ngIf="isFormSubmitted && addServiceFrm.totinstallments.errors?.required">
                                    No of Installment(s) is required
                                </span>
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                    lang="AR-SA">{{bodyLabel[8].title}}</label>
                                <input type="number" class="form-control form-control-lg  mb-3 mb-lg-0" value="0.00"
                                    formControlName="installmentAmount" />
                                <span class="text-danger"
                                    *ngIf="isFormSubmitted && addServiceFrm.installmentAmount.errors?.required">
                                    Installment Amount is required
                                </span>

                            </div>
                        </div>
                        <div class="row mb-6">
                            <div class="col-lg-4 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"><small
                                        class="text-danger">Incase of Gift By Default=Y </small> {{bodyLabel[9].title}}
                                </label>
                                <input type="number" class="form-control form-control-lg  mb-3 mb-lg-0"
                                    formControlName="allowDiscount" />
                                <span class="text-danger"
                                    *ngIf="isFormSubmitted && addServiceFrm.allowDiscount.errors?.required">
                                    Discount Amount is required
                                </span>
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                    lang="AR-SA">{{bodyLabel[10].title}}</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" bsDatepicker [minDate]="minDate"
                                        [bsConfig]="{ dateInputFormat: 'MMM-YYYY' }" lang="AR-SA"
                                        (bsValueChange)="calculateUntilMonth($event)"
                                        formControlName="installmentsBegDate" />
                                </div>
                                <span class="text-danger"
                                    *ngIf="isFormSubmitted && addServiceFrm.installmentsBegDate.errors?.required">
                                    Installment Begin Date is required
                                </span>
                            </div>
                            <div class="col-lg-4 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                    lang="AR-SA">{{bodyLabel[11].title}}</label>
                                <div class="input-group mb-5">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fas fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly
                                        formControlName="untilMonth" />
                                </div>
                            </div>
                        </div>
                        <div class="row mb-6">
                            <div class="col-lg-4 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA">PF Id</label>
                                <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="pfId" />
                            </div>
                        </div>
                    </form>
                </div>
                <!--end::Row-->
            </div>

        </div>
        <!--end::Tab content-->
    </div>
    <!--Document Information-->
    <app-document-attachment [parentFormGroup]="parentForm"></app-document-attachment>
    <br />
    <!--Financial Details-->
    <app-financial-detials [parentFormGroup]="parentForm" [accordialDetails]="'ServiceFinanceAccordian'"></app-financial-detials>
    <br />

    <!--Approval Details-->

    <app-approval-detials [parentFormGroup]="parentForm" [accordialApprovalDetails]="'ServiceApprovalAccordian'"></app-approval-detials>
</div>
<!--PopupModal Modal-->
<ng-template #popupModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="popUpForm" id="popUpForm">
            <div class="mb-3">
                <span>Your Transaction Id:- <strong>{{popUpForm.controls.transactionId.value}}</strong></span>
                <br/>
                <br/>
                <span>Attachment Id:- <strong>{{popUpForm.controls.attachId.value}}</strong></span>
            </div>
        </form>
    </div>
    <div class="modal-footer text-right">
        <button mat-raised-button color="accent" (click)="modal.close('yes')">Okay</button> 
    </div>
</ng-template>
