<!-- TO GET FORM ID AND SETTINGUP LANGAUGE. -->
<input type="hidden" #AddService name="AddService" value="AddService">
<div class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 mb-3">
    <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
        <div class="row">
            <div class="btn-group " role="group" aria-label="Basic example"
                *ngFor="let bodyLabel of formBodyLabels; let i = index">
                <button type="button" class="btn btn-primary float-left ArFontStyle"
                    lang="AR-SA" (click)="saveFinancialService()">{{bodyLabel[0].title}}</button>
                <button type="button" class="btn btn-warning float-left ArFontStyle"
                    lang="AR-SA" (click)="getFormValues()">{{bodyLabel[1].title}}</button>
                <button type="button" class="btn btn-danger float-left ArFontStyle" lang="AR-SA"
                    routerLink="/service-setup/service-details" >{{bodyLabel[2].title}}</button>
            </div>
        </div>
    </div>
</div>

<!--Parital View For Search-->
<app-search-tab [parentFormGroup]="parentForm">

</app-search-tab>

<!--Service Information-->
<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header card-header-stretch pb-0 panel1bgColor">
        <!--begin::Title-->
        <div class="card-title" *ngFor="let label of formHeaderLabels; let i = index">
            <h3 class="m-0 ArFontStyle" lang="AR-SA" id="MembershipTransactions">{{label.headerName}}</h3>
        </div>
        <div class="card-title">
            <h3 class="m-0 text-danger ArFontStyle" lang="AR-SA">Service Status</h3>
        </div>
        <!--end::Title-->
    </div>
    <!--end::Card header-->
    <!--begin::Tab content-->

    <div id="kt_billing_payment_tab_content" class="card-body tab-content"
        *ngFor="let bodyLabel of formBodyLabels; let i = index">
        <!--begin::Tab panel-->
        <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
            <!--begin::Title-->
            <!-- <h3 class="mb-5">Job Information</h3> -->
            <!--end::Title-->
            <!--begin::Row-->
            <div class="row gx-9 gy-6">
                <form autocomplete="off" [formGroup]="addServiceForm">
                    <div class="row mb-6">
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[3].title}}</label>
                            <ng-select [items]="selectServiceType$ | async" bindLabel="serviceName1" formControlName="serviceType" 
                                bindValue="serviceType" lang="AR-SA" (change)="onServiceTypeChange($event)">
                            </ng-select>
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[4].title}}</label>
                            <ng-select [items]="selectServiceSubType$ | async" bindLabel="serviceName1"  formControlName="serviceSubType" 
                                bindValue="serviceSubType" lang="AR-SA" (change)="onServiceSubTypeChange($event)">
                            </ng-select>
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle" 
                                lang="AR-SA">{{bodyLabel[5].title}}</label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly formControlName="searialNo"/>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[6].title}}</label>
                            <input type="number" class="form-control form-control-lg  mb-3 mb-lg-0" (keyup)="calculateInstallments()" formControlName="totamt"/>
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[7].title}}</label>
                            <input type="number" class="form-control form-control-lg  mb-3 mb-lg-0" formControlName="totinstallments" readonly/>
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[8].title}}</label>
                            <input type="number" class="form-control form-control-lg  mb-3 mb-lg-0" value="0.00" formControlName="installmentAmount" readonly/>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA"><small
                                    class="text-danger">Incase of Gift By Default=Y </small> {{bodyLabel[9].title}}
                            </label>
                            <input type="number" class="form-control form-control-lg  mb-3 mb-lg-0" formControlName="allowDiscount" readonly/>
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[10].title}}</label>
                            <div class="input-group mb-5">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fas fa-calendar"></i>
                                </span>
                                <input type="text" class="form-control" bsDatepicker
                                    [bsConfig]="{ dateInputFormat: 'MMM-YYYY' }" lang="AR-SA" (bsValueChange)="calculateUntilMonth($event)" 
                                    formControlName="startingDeductionMonth"/>
                            </div>
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[11].title}}</label>
                            <div class="input-group mb-5">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fas fa-calendar"></i>
                                </span>
                                    <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" readonly 
                                    formControlName="untilMonth"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--end::Row-->
        </div>

    </div>
    <!--end::Tab content-->
</div>
<!--Payment Information-->
<!-- <div class="card mb-5 mb-xl-10" *ngFor="let bodyLabel of formBodyLabels; let i = index">
    <div class="card-header card-header-stretch pb-0 panel2bgColor">
        <div class="card-title">            
            <h3 class="m-0 ArFontStyle" lang="AR-SA">{{bodyLabel[12].title}}</h3>
        </div>
    </div>
    <div id="kt_billing_payment_tab_content" class="card-body tab-content">
        <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
            <div class="row gx-9 gy-6">
                <form autocomplete="off">
                    <div class="row mb-4">
                        <div class="col-lg-4 fv-row">
                            <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[13].title}}</label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[14].title}}</label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>

                        <div class="col-lg-4 fv-row">
                            <label class="col-lg-6 col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[15].title}}</label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-4 fv-row">
                            <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[16].title}}</label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[17].title}}</label>
                            <div class="input-group mb-5">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fas fa-calendar"></i>
                                </span>
                                <input type="text" class="form-control" bsDatepicker
                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" lang="AR-SA" />
                            </div>
                        </div>

                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-4 fv-row">
                            <label class="col-lg-6 col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[18].title}}</label>
                            <div class="input-group mb-5">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fas fa-calendar"></i>
                                </span>
                                <input type="text" class="form-control" bsDatepicker
                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" lang="AR-SA" />
                            </div>
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-lg-8 col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[19].title}}</label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-lg-8 col-form-label fw-bold fs-6 ArFontStyle"
                                lang="AR-SA">{{bodyLabel[20].title}}</label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>  
</div> -->
<!--Payment Information-->
<!--Financial Details-->
<app-financial-detials [parentFormGroup]="parentForm"></app-financial-detials>
<br />

<!--Approval Details-->
<app-approval-detials [parentFormGroup]="parentForm"></app-approval-detials>