<ngb-accordion #ngbOfferDetails="ngbAccordion" activeIds="ngb-panel-1" opened="true">
    <ngb-panel id="ngb-panel-1">
        <ng-template ngbPanelTitle>
            <h3 class="m-0 ArFontStyle" lang="AR-SA">Financial Apporval</h3>
        </ng-template>
        <ng-template ngbPanelContent>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="w-100" floatLabel="never" >
                    <mat-label>Search</mat-label>
                    <input type="search" matInput formControlName="searchTerm" (keyup)="filterRecords()" class="ArFontStyle"/>
                    <mat-icon matPrefix class="material-icons">search</mat-icon>                        
                    <mat-icon matSuffix (click)="clearFilter()" class="material-icons">close</mat-icon>
                </mat-form-field>
                <div class="table-container">
                    <table mat-table class="w-100" [dataSource]="financialApprovalDto" matSort>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <!-- routerLink="/service-setup/cashier-delivery/{{item.transId}}"" -->
                            <td mat-cell *matCellDef="let item" class="text-right w-30">
                                <button mat-raised-button color="warn" (click)="onDetailsClick(item.employeeId)">Details</button> |                                 
                                <button mat-raised-button color="primary" (click)="navigateToFinancialDraft(item.transId,item.employeeId)" >Draft</button> |
                                <button mat-raised-button color="accent"  (click)="navigateToFinancialDelivery(item.transId,item.employeeId)">Deliver</button>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="transId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Trans Id </th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle" >{{item.transId}} </td>
                        </ng-container>
                        <ng-container matColumnDef="periodCode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Perion Code</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.periodCode}}</td>
                        </ng-container> 
                        <ng-container matColumnDef="employee">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.englishName}}</td>
                        </ng-container>
                        <ng-container matColumnDef="mobile">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.mobileNumber}}</td>
                        </ng-container>     
                        <ng-container matColumnDef="service">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Service</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.serviceName}}</td>
                        </ng-container>                                             
                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true"
                            [ngClass]="{'hidden':!isLoadingCompleted}" class="row_header"></tr>
                        <tr mat-row *matRowDef="let formTitleHd; columns: columnsToDisplay"></tr>
                    </table>
                </div>
                <div [ngClass]="{'hidden':!isLoadingCompleted}">
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10,20,30]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </form>
        </ng-template>
    </ngb-panel>
</ngb-accordion>