
.panel1bgColor{
    background-color: rgba(88, 147, 157, 0.829);
    }
    tr:hover td {
        background: #d8ecfa !important;
        
    }
    .ArFontStyle{
        font-family:"Tahoma","sans-serif"
    }


 