<!-- TO GET FORM ID AND SETTINGUP LANGAUGE. -->
<input type="hidden" #ManageApprovals name="ManageApprovals" value="ManageApprovals">
<div class="card mb-5 mb-xl-8">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5 panel3bgColor">
        <div class="card-toolbar" *ngFor="let label of formHeaderLabels; let i = index">
            <h3 class="text-dark ArFontStyle" lang="AR-SA">{{label.headerName}}</h3>
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-3" *ngFor="let bodyLabel of formBodyLabels; let i = index">
        <div class="row mb-4">
            <div class="col-lg-6 fv-row">

            </div>
            <div class="col-lg-4 fv-row">
                <select class="form-control form-control-solid">
                    <option>-Select-</option>
                    <option>Reason 1</option>
                    <option>Reason 2</option>
                    <option>Reason 3</option>
                    <option>Reason 4</option>
                </select>
            </div>
            <div class="col-lg-2 fv-row">
                <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA">{{bodyLabel[0].title}}</label>
            </div>
        </div>
        <div class="row gx-9 gy-6">
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="w-100" floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input type="search" matInput formControlName="searchTerm" (keyup)="filterRecords()"
                        class="ArFontStyle" />
                    <mat-icon matPrefix class="material-icons">search</mat-icon>
                    <mat-icon matSuffix (click)="clearFilter()" class="material-icons">close</mat-icon>
                </mat-form-field>
                <div class="table-container">
                    <table mat-table class="w-100" [dataSource]="returnServiceApprovals" matSort>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="ArFontStyle">{{bodyLabel[1].title}}</th>
                            <td mat-cell *matCellDef="let item" class="w-20 text-right">
                                <a href="javascript:void(0)" class="text-success fw-bolder"
                                    (click)="openApproveServiceModal(approveServiceModal,$event)" [id]="item.myTransId">
                                    Approve
                                </a>
                                | <a href="javascript:void(0)" class="text-danger fw-bolder"
                                    (click)="openRejectServiceModal(rejectServiceModal,$event)" [id]="item.myTransId">
                                    Reject
                                </a>
                                | <a href="javascript:void(0)" class="text-primary fw-bolder"
                                    (click)="openContactModal(employeePerformanceModal,$event)" [id]="item.employeeId">
                                    Details
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="employeeId">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="ArFontStyle">
                                {{bodyLabel[2].title}} </th>
                            <td mat-cell *matCellDef="let item" class="w-70 ArFontStyle">{{item.employeeId}}</td>
                        </ng-container>
                        <div *ngIf="lang == 'en'">
                            <ng-container matColumnDef="employeeName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="ArFontStyle">
                                    {{bodyLabel[3].title}}</th>
                                <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.englishName}}</td>
                            </ng-container>
                        </div>
                        <div *ngIf="lang == 'ar'">
                            <ng-container matColumnDef="employeeName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="ArFontStyle">
                                    {{bodyLabel[3].title}}</th>
                                <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.arabicName}}</td>
                            </ng-container>
                        </div>

                        <ng-container matColumnDef="services">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="ArFontStyle">
                                {{bodyLabel[4].title}}</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.services}}</td>
                        </ng-container>

                        <ng-container matColumnDef="source">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="ArFontStyle">
                                {{bodyLabel[8].title}}</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.source}}</td>
                        </ng-container>
                        <ng-container matColumnDef="totalInstallment">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="ArFontStyle">
                                {{bodyLabel[5].title}}</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.totalInstallments}}</td>
                        </ng-container>
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="ArFontStyle">
                                {{bodyLabel[6].title}}</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.amount}}</td>
                        </ng-container>
                        <ng-container matColumnDef="discounted">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="ArFontStyle">
                                {{bodyLabel[7].title}}</th>
                            <td mat-cell *matCellDef="let item" class="ArFontStyle">{{item.discounted}}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true"
                            [ngClass]="{'hidden':!isLoadingCompleted}"></tr>
                        <tr mat-row *matRowDef="let formTitleHd; columns: columnsToDisplay"></tr>
                    </table>
                </div>
                <div [ngClass]="{'hidden':!isLoadingCompleted}">
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10,20,30]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </form>
        </div>
    </div>
    <!--begin::Body-->
    <div class="card-footer">
        
    </div>
</div>

<!--TO DISPLAY EMPLOYEE CONTACT DETAILS IN MODAL POPUP-->
<ng-template #employeePerformanceModal let-modal>
    <div class="modal-header bg-light">
        <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss('Cross click')">&times;</button>
        <h4 class="modal-title" id="modal-basic-title">Employee Performance</h4>
    </div>
    <div class="modal-body">
        <app-contact-details [empployeeId]="empployeeId"></app-contact-details>
    </div>
    <div class="modal-footer bg-light">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Close</button>
        </div>
    </div>
</ng-template>

<!--APPROVE SERVICE-->
<ng-template #approveServiceModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Approve Service</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form autocomplete="off" [formGroup]="approveServiceForm" id="approveServiceForm">
            <input type="hidden" formControlName="mytransId" />
            <div class="mb-3">
                <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle">Date & Time</label>
                <input type="datetime" class="form-control" formControlName="currentDateTime" readonly/>
            </div>
            <div class="mb-3">
                <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle">Remarks</label>
                <textarea type="text" class="form-control form-control-lg mb-lg-0" formControlName="approvalRemarks"
                    name="approvalRemarks">
                </textarea>
                <span class="text-danger"
                    *ngIf="isFormSubmitted && approvalForm.approvalRemarks.errors?.required">Please enter remarks</span>
            </div>
        </form>
    </div>
    <div class="modal-footer text-right">
        <button mat-raised-button color="primary" (click)="modal.close('yes')" form="approveServiceForm"
            [disabled]="!approveServiceForm.valid">Approve</button> &nbsp;&nbsp;
        <button mat-raised-button color="accent" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>

<!--REJECT SERVICE-->
<ng-template #rejectServiceModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Reject Service</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form autocomplete="off" [formGroup]="rejectServiceForm" id="rejectServiceForm">
            <input type="hidden" formControlName="mytransId" />
            <div class="mb-3">
                <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle">Date & Time</label>
                <input type="datetime" class="form-control" formControlName="currentDateTime" readonly/>
            </div>
            <div class="mb-3">
                <label class="col-form-label fw-bold fs-6 ArFontStyle"><span class="">Rejection Type</span></label>                           
                            <ng-select [items]="rejectionType$ | async" bindValue="refid" bindLabel="refsubtype"
                                formControlName="rejectionType" lang="AR-SA">                            
                            </ng-select>
            </div>
            <div class="mb-3">
                <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle">Remarks</label>
                <textarea type="text" class="form-control form-control-lg mb-lg-0" formControlName="rejectionRemarks"
                    name="rejectionRemarks">
                </textarea>
                <span class="text-danger"
                    *ngIf="isFormSubmitted && rejectionForm.rejectionRemarks.errors?.required">Please enter remarks</span>
            </div>
        </form>
    </div>
    <div class="modal-footer text-right">
        <button mat-raised-button color="primary" (click)="modal.close('yes')" form="rejectServiceForm"
            [disabled]="!rejectServiceForm.valid">Reject</button> &nbsp;&nbsp;
        <button mat-raised-button color="accent" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>