.panelBgColor3{
    background-color: #ffae19 
}
.ArFontStyle{
    font-family:"Tahoma","sans-serif";
    color: white;
}
input:focus {
    background-color: #E9E9E9;
  }

.bg-light-primary-orange-shade1{
    background-color: #a2e296;
}

.shadesOfOrange5{
    background: #ffb732;
    color: #000;
}

.shadesOfOrange6{
    background: #C2E9BF;
    color: #000;
}


._title{
    color: #000;
}