

<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header card-header-stretch pb-0 panelBgColor">
        <!--begin::Title-->
        <div class="card-title">
            <h3 class="m-0 text-white">{{formTitle}}</h3>
        </div>
        <h3 class="card-title align-items-start flex-column">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-warning">Cancel</button>
                <button type="button" class="btn btn-light-dark" routerLink="/service-setup/employee-monent-details">Back</button>
              </div>
        </h3>
        <!--end::Title-->
    </div>
    <!--end::Card header-->
    <!--begin::Tab content-->
    <div id="kt_billing_payment_tab_content" class="card-body tab-content">
        <!--begin::Tab panel-->
        <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
            <!--begin::Title-->
            <!-- <h3 class="mb-5">Job Information</h3> -->
            <!--end::Title-->
            <!--begin::Row-->
            <div class="row gx-9 gy-6">
                <form autocomplete="off">                    
                    <div class="row mb-4">
                        <div class="col-lg-3 fv-row">
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Employee Id
                                </span></label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>
                        <div class="col-lg-3 fv-row">
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">Civil Id</span></label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>
                        <div class="col-lg-3 fv-row">
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="">PF Id</span></label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>
                        <div class="col-lg-3 fv-row">
                            <button type="button" class="btn btn-primary mt-13">Search</button>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <div class="col-lg-6 fv-row">
                            <label class="col-form-label fw-bold fs-6"><span class="">Name / Arabic English</span></label>
                            <input type="text" class="form-control">
                        </div>
                       
                    </div>
                </form>
            </div>
            <!--end::Row-->
        </div>
    </div>
</div>

<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header card-header-stretch pb-0 panelBgColor3">
        <!--begin::Title-->
        <div class="card-title">
            <h3 class="m-0">Financial Details</h3>
        </div>
        <!--end::Title-->
    </div>
    <!--end::Card header-->
    <!--begin::Tab content-->
    <div id="kt_billing_payment_tab_content" class="card-body tab-content">
        <!--begin::Tab panel-->
        <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
            <!--begin::Title-->
            <!-- <h3 class="mb-5">Job Information</h3> -->
            <!--end::Title-->
            <!--begin::Row-->
            <div class="row gx-9 gy-6">
                <form autocomplete="off">
                    <div class="row mb-6">
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6"><span class="">Date of the Effect</span></label>
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6"><span class="">Termination Service Type</span></label>
                            <select class="form-control bg-light" aria-label="Select example">
                                <option>-Select-</option>
                                <option value="1">Service 1</option>
                                <option value="2">Service 2</option>
                                <option value="3">Service 3</option>
                            </select>
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6"><span class="">Termination Reason</span></label>
                            <select class="form-control bg-light" aria-label="Select example">
                                <option>-Select-</option>
                                <option value="1">Service 1</option>
                                <option value="2">Service 2</option>
                                <option value="3">Service 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6"><span class="">WithdrawalYear</span></label>
                            <select class="form-control bg-light" aria-label="Select example">
                                <option>-Select-</option>
                                <option value="1">Service 1</option>
                                <option value="2">Service 2</option>
                                <option value="3">Service 3</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <!--end::Row-->
        </div>

    </div>
    <!--end::Tab content-->
</div>